.Error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  width: 90%;
  padding-top: 20px;
  margin: 0 auto;

  &Title {
    color: #ff0000;
    text-align: center;
  }

  &Button {
      font-size: 18px;
      font-weight: 600;
      border: 1px solid #000;
      border-radius: 6px;
      padding: 5px;
      text-decoration: none;
      color: #000;
      transition: color 0.2s linear, background 0.2s linear;

      &:hover {
        padding: 5px;
        color: #fff;
        background: #000;
      }

  }
}
